* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--body-font);
	font-size: 1.1rem;
}
html {
	scroll-behavior: smooth;
}

:root {
	--header-height: 4.5rem;
	--title-font-size: 18pt;
	--subititle-font-size: 1.125rem;
	--title-font: "Poppins", sans-serif;
	--body-font: "DM Sans", sans-serif;
	--color-theme: rgb(76, 107, 202);
}

.topo {
	color: white;
	background-color: black;
	padding: 10px;
	padding-left: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.title {
	font: var(--title-font-size) var(--title-font);
}
.menu {
	display: flex;
	gap: 50px;
}
.menu a {
	color: white;
}
.newtrip {
	padding: 5px 40px;
	background-color: rgb(195, 192, 192);
}
fieldset {
	border-radius: 10px;
	border: none;
	background-color: white;
	margin: 20px;
}
legend {
	font-family: var(--title-font);
	font-weight: 700;
	font-size: 16pt;
	margin-left: 20px;
	padding: 5px 15px;
	background-color: white;
	border-radius: 15px;
}
input {
	height: 25px;
}
input.text {
	width: 25%;
}
.container p {
	height: 22px;
	margin: 0px 1rem;
}

div .main {
	padding: 15px;
}
div .flex {
	display: flex;
	justify-content: flex-start;
	margin: 10px 5px;
}
.main label {
	margin-left: 20px;
}

select {
	background-color: var(--color-theme);
	color: white;
	font: var(--title-font) 18pt;
	font-weight: bold;
	padding: 5px;
	border-radius: 20px;
	text-align: center;
}
.galeria {
	width: 600px;
}

input.button {
	padding: 5px 8px;
	border-radius: 10px;
	border: 1px solid black;
}
.bordertheme {
	border: 1px solid rgb(173, 173, 173);
	border-radius: 10px;
	text-align: center;
}

table {
	border: 1px solid rgb(186, 186, 186);
	margin: 10px;
	width: 98%;
	border-radius: 5px;
}
th {
	background-color: var(--color-theme);
	color: white;
	border-radius: 4px;
}

td {
	border: 1px solid rgb(186, 186, 186);
	text-align: center;
	border-radius: 2px;
}
::placeholder {
	text-align: center;
	color: rgb(212, 37, 37);
}

td input {
	border: none;
	margin: 0;
	padding: 0;
	display: block;
	padding-left: 10px;
	text-align: center;
}

input.sizetext {
	width: 100%;
	text-align: left;
}
.investimento {
	text-align: left;
	padding-left: 30px;
	background-color: rgb(161, 161, 161);
	color: white;
}

.calendar {
	padding: 25px;
}
.calendar table {
	margin: 1px;
}
